body{
	margin: 0;
}
canvas {
	float:left;
}
#container{
	vertical-align: middle;
}
#controls{
	padding-left: 0.5rem;
	padding-top: 1rem;
	float: left;
	display: flex;
	width: 300px;
	flex-direction: row;
	flex-wrap: wrap;
}
tr>td:first-child{
	float: right;
}
P{
	margin: 0.5rem;
}